In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [3]:
%%sql
SELECT *
FROM facts
LIMIT 5

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

In [4]:
%%sql
SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
FROM facts

Done.

[(0, 7256490011, 0.0, 4.02)]

In [5]:
%%sql
SELECT *
FROM facts
WHERE population = 0

Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

In [6]:
%%sql
SELECT *
FROM facts
WHERE population = 7256490011

Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

In [7]:
%%sql
SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
FROM facts
WHERE name <> 'World'

Done.

[(0, 1367485388, 0.0, 4.02)]

In [8]:
%%sql
SELECT AVG(population), AVG(area)
FROM facts

Done.

[(62094928.32231405, 555093.546184739)]

In [9]:
%%sql
SELECT *
FROM facts
WHERE population > (SELECT AVG(population) FROM facts WHERE name <> 'World') AND area < (SELECT AVG(area) FROM facts WHERE name <> 'World')

Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]

In [14]:
%%sql
SELECT name, population
FROM facts
WHERE name <> 'World'
ORDER BY population desc
LIMIT 1

Done.

[('China', 1367485388)]

From the data we can see that China has the highest population.

In [16]:
%%sql
SELECT name, ROUND(CAST(area_water AS FLOAT)/area_land, 2) AS ratio
FROM facts
ORDER BY ratio desc

Done.

[('British Indian Ocean Territory', 905.67),
 ('Virgin Islands', 4.52),
 ('Puerto Rico', 0.55),
 ('Bahamas, The', 0.39),
 ('Guinea-Bissau', 0.28),
 ('Malawi', 0.26),
 ('Netherlands', 0.23),
 ('Uganda', 0.22),
 ('Eritrea', 0.16),
 ('Liberia', 0.16),
 ('Bangladesh', 0.14),
 ('Gambia, The', 0.12),
 ('Taiwan', 0.12),
 ('Finland', 0.11),
 ('India', 0.11),
 ('Canada', 0.1),
 ('Colombia', 0.1),
 ('Sweden', 0.1),
 ('Brunei', 0.09),
 ('Guyana', 0.09),
 ('Nicaragua', 0.09),
 ('French Polynesia', 0.09),
 ('Burundi', 0.08),
 ('Iran', 0.08),
 ('Estonia', 0.07),
 ('Rwanda', 0.07),
 ('Tanzania', 0.07),
 ('United States', 0.07),
 ('Vietnam', 0.07),
 ('Norway', 0.06),
 ('Albania', 0.05),
 ('Armenia', 0.05),
 ('Azerbaijan', 0.05),
 ('Ghana', 0.05),
 ('Indonesia', 0.05),
 ('Suriname', 0.05),
 ('Tunisia', 0.05),
 ('Uzbekistan', 0.05),
 ('Burma', 0.04),
 ('Gabon', 0.04),
 ('Hungary', 0.04),
 ('Japan', 0.04),
 ('Kyrgyzstan', 0.04),
 ('Latvia', 0.04),
 ('Lithuania', 0.04),
 ('Romania', 0.04),
 ('Russia', 0.04),
 ('Togo', 0.04),
 ('Tonga', 0.04),
 ('Turkmenistan', 0.04),
 ('Ukraine', 0.04),
 ('West Bank', 0.04),
 ('Botswana', 0.03),
 ('Cambodia', 0.03),
 ('China', 0.03),
 ('Congo, Democratic Republic of the', 0.03),
 ('Iceland', 0.03),
 ('Korea, South', 0.03),
 ('Laos', 0.03),
 ('Moldova', 0.03),
 ('Montenegro', 0.03),
 ('Nepal', 0.03),
 ('Pakistan', 0.03),
 ('Poland', 0.03),
 ('Solomon Islands', 0.03),
 ('Switzerland', 0.03),
 ('Venezuela', 0.03),
 ('Hong Kong', 0.03),
 ('Argentina', 0.02),
 ('Austria', 0.02),
 ('Belarus', 0.02),
 ('Benin', 0.02),
 ('Brazil', 0.02),
 ('Bulgaria', 0.02),
 ('Chad', 0.02),
 ('Chile', 0.02),
 ('Czech Republic', 0.02),
 ('Denmark', 0.02),
 ('Ecuador', 0.02),
 ('El Salvador', 0.02),
 ('Germany', 0.02),
 ('Guatemala', 0.02),
 ('Ireland', 0.02),
 ('Israel', 0.02),
 ('Italy', 0.02),
 ('Kenya', 0.02),
 ('Lebanon', 0.02),
 ('Mali', 0.02),
 ('Mozambique', 0.02),
 ('Papua New Guinea', 0.02),
 ('Paraguay', 0.02),
 ('Saint Lucia', 0.02),
 ('Senegal', 0.02),
 ('Slovakia', 0.02),
 ('Somalia', 0.02),
 ('Sri Lanka', 0.02),
 ('Tajikistan', 0.02),
 ('Turkey', 0.02),
 ('New Caledonia', 0.02),
 ('Australia', 0.01),
 ('Belgium', 0.01),
 ('Belize', 0.01),
 ('Bolivia', 0.01),
 ('Cameroon', 0.01),
 ("Cote d'Ivoire", 0.01),
 ('Croatia', 0.01),
 ('Cuba', 0.01),
 ('Dominican Republic', 0.01),
 ('Egypt', 0.01),
 ('France', 0.01),
 ('Greece', 0.01),
 ('Haiti', 0.01),
 ('Jamaica', 0.01),
 ('Jordan', 0.01),
 ('Kazakhstan', 0.01),
 ('Macedonia', 0.01),
 ('Madagascar', 0.01),
 ('Mexico', 0.01),
 ('Mongolia', 0.01),
 ('Nigeria', 0.01),
 ('Panama', 0.01),
 ('Philippines', 0.01),
 ('Portugal', 0.01),
 ('Singapore', 0.01),
 ('Slovenia', 0.01),
 ('Spain', 0.01),
 ('Swaziland', 0.01),
 ('Syria', 0.01),
 ('United Kingdom', 0.01),
 ('Uruguay', 0.01),
 ('Zambia', 0.01),
 ('Zimbabwe', 0.01),
 ('Afghanistan', 0.0),
 ('Algeria', 0.0),
 ('Andorra', 0.0),
 ('Angola', 0.0),
 ('Antigua and Barbuda', 0.0),
 ('Bahrain', 0.0),
 ('Barbados', 0.0),
 ('Bhutan', 0.0),
 ('Bosnia and Herzegovina', 0.0),
 ('Burkina Faso', 0.0),
 ('Cabo Verde', 0.0),
 ('Central African Republic', 0.0),
 ('Comoros', 0.0),
 ('Congo, Republic of the', 0.0),
 ('Costa Rica', 0.0),
 ('Cyprus', 0.0),
 ('Djibouti', 0.0),
 ('Dominica', 0.0),
 ('Equatorial Guinea', 0.0),
 ('Fiji', 0.0),
 ('Georgia', 0.0),
 ('Grenada', 0.0),
 ('Guinea', 0.0),
 ('Honduras', 0.0),
 ('Iraq', 0.0),
 ('Kiribati', 0.0),
 ('Korea, North', 0.0),
 ('Kosovo', 0.0),
 ('Kuwait', 0.0),
 ('Lesotho', 0.0),
 ('Libya', 0.0),
 ('Liechtenstein', 0.0),
 ('Luxembourg', 0.0),
 ('Malaysia', 0.0),
 ('Maldives', 0.0),
 ('Malta', 0.0),
 ('Marshall Islands', 0.0),
 ('Mauritania', 0.0),
 ('Mauritius', 0.0),
 ('Micronesia, Federated States of', 0.0),
 ('Monaco', 0.0),
 ('Morocco', 0.0),
 ('Namibia', 0.0),
 ('Nauru', 0.0),
 ('Niger', 0.0),
 ('Oman', 0.0),
 ('Palau', 0.0),
 ('Peru', 0.0),
 ('Qatar', 0.0),
 ('Saint Kitts and Nevis', 0.0),
 ('Saint Vincent and the Grenadines', 0.0),
 ('Samoa', 0.0),
 ('San Marino', 0.0),
 ('Sao Tome and Principe', 0.0),
 ('Saudi Arabia', 0.0),
 ('Serbia', 0.0),
 ('Seychelles', 0.0),
 ('Sierra Leone', 0.0),
 ('South Africa', 0.0),
 ('Thailand', 0.0),
 ('Timor-Leste', 0.0),
 ('Trinidad and Tobago', 0.0),
 ('Tuvalu', 0.0),
 ('United Arab Emirates', 0.0),
 ('Vanuatu', 0.0),
 ('Yemen', 0.0),
 ('Ashmore and Cartier Islands', 0.0),
 ('Christmas Island', 0.0),
 ('Cocos (Keeling) Islands', 0.0),
 ('Coral Sea Islands', 0.0),
 ('Heard Island and McDonald Islands', 0.0),
 ('Norfolk Island', 0.0),
 ('Macau', 0.0),
 ('Faroe Islands', 0.0),
 ('Clipperton Island', 0.0),
 ('Saint Pierre and Miquelon', 0.0),
 ('Wallis and Futuna', 0.0),
 ('Aruba', 0.0),
 ('Curacao', 0.0),
 ('Sint Maarten', 0.0),
 ('Cook Islands', 0.0),
 ('Niue', 0.0),
 ('Tokelau', 0.0),
 ('Bouvet Island', 0.0),
 ('Jan Mayen', 0.0),
 ('Svalbard', 0.0),
 ('Anguilla', 0.0),
 ('Bermuda', 0.0),
 ('British Virgin Islands', 0.0),
 ('Cayman Islands', 0.0),
 ('Falkland Islands (Islas Malvinas)', 0.0),
 ('Gibraltar', 0.0),
 ('Guernsey', 0.0),
 ('Jersey', 0.0),
 ('Isle of Man', 0.0),
 ('Montserrat', 0.0),
 ('Pitcairn Islands', 0.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 0.0),
 ('South Georgia and South Sandwich Islands', 0.0),
 ('Turks and Caicos Islands', 0.0),
 ('American Samoa', 0.0),
 ('Guam', 0.0),
 ('Navassa Island', 0.0),
 ('Northern Mariana Islands', 0.0),
 ('Wake Island', 0.0),
 ('Gaza Strip', 0.0),
 ('Paracel Islands', 0.0),
 ('Spratly Islands', 0.0),
 ('Western Sahara', 0.0),
 ('Ethiopia', None),
 ('New Zealand', None),
 ('South Sudan', None),
 ('Sudan', None),
 ('Holy See (Vatican City)', None),
 ('European Union', None),
 ('Greenland', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Saint Martin', None),
 ('Akrotiri', None),
 ('Dhekelia', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', None)]

The country/territory with the highest ratio of water to land is the Virgin Islands.